
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;justify-content: center;align-items: center;
    background: linear-gradient(136deg,#353333,#262724,#1f1b1b,#131612,#10140f);
    font-family: "Poppins",sans-serif;
}
.sparklespace{
    position: absolute;
    width: 100%;
    height: 100%;
}
.sparkle{
    position: absolute;
    font-size: 1rem;
    z-index: -1;
    color:rgb(245, 233, 233);
    animation: spark 1s ease infinite;
}
@keyframes spark {
    0%{opacity: 1;}
    50%{opacity:.4;}
    100%{opacity: 1;}
}

.box{
    position: relative;
    width:80%;
    min-width: 15rem;
    max-width: 25rem;
    height: 85%;
    margin-left: 8%;
    overflow: visible;
    display: flex;align-items: center;
}
.intro{
    color:rgb(247, 247, 43);
    overflow: hidden;
    text-wrap: nowrap;
    width:0%;
    position: absolute;
    top: 50%;
    z-index: -2;
    left: 0;
    transform: translateY(-50%);
    animation: intra 10s ease;
}
.heart{color:rgb(236, 68, 2)}
@keyframes intra{
    0%{width:0%;opacity:0}
    10%{width:100%;opacity: 1;}
    92%{width:100%;opacity: 1;}
    100%{width:0%;opacity: 0;}
}


.lifafa{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2rem;
    perspective:1000px;
    border-bottom-right-radius: 2rem;
    background: rgb(253, 253, 94);
    overflow: visible;
    animation: lifafa 10s ease;
}
@keyframes lifafa {
    0%{display: none;opacity: 0;}
    95%{display: none;opacity: 0;}
    100%{display: flex;opacity: 1;}   
}
.lifafa_cover{
    position: absolute;
    width: 20%;
    min-width: 3rem;
    height: 100%;
    left: 0;
    transform-origin: left;
    transition: transform 1.5s ease-in-out;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    animation: opening 45s ease-in-out 8;
    box-shadow: 0px 0px 7px 4px #444;
    z-index: 5;
    background: rgb(253, 253, 94);
}
@keyframes opening {
    0%{transform: rotateY(0deg); box-shadow: 0px 0px 7px 4px #444;}
    6%{transform: rotateY(-120deg); box-shadow: 10px 0px 6px 4px #797575;}
    94%{transform: rotateY(-120deg); box-shadow: 10px 0px 6px 4px #797575;}
    100%{transform: rotateY(0deg); box-shadow: 0px 0px 7px 4px #444;}
}

.letter_box{
    width: 95%;
    height:95%;
    position: relative;
    contain: layout paint;
    will-change: transform;
}
.letter{
    position: absolute;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    border-top-right-radius: .85rem;
    border-bottom-right-radius: .85rem;
    opacity: 0;
    transform: translateX(-120%);
    animation: pages 45s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
@keyframes pages {
    0%{transform: translateX(-120%); opacity: 0;}
    3%{transform: translateX(0%);opacity: 1;}
    97%{transform: translateX(0%);opacity: 1;}
    100%{transform: translateX(-120%); opacity: 0;}
}
.letter1{animation-delay: 45s;}
.letter2{animation-delay: 90s;}
.letter3{animation-delay: 135s;}
.letter4{animation-delay: 180s;}
.letter5{animation-delay: 225s;}
.letter6{animation-delay: 270s;}
.letter7{animation-delay: 315s;}
.end{
    margin-left: 4rem;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: ends 363s ease ;
    text-wrap: wrap;
}
p{
    text-wrap: wrap;
}
@keyframes ends {
    0%{transform: translateX(-120%);} 
    99%{transform: translateX(-120%);}
    100%{transform: translate(0);}   
}

